body{
    background-image: linear-gradient(rgb(2, 122, 52), rgb(0, 255, 191));
    font-family: 'Times New Roman', Times, serif;
}
.container{
    max-width: 1024px;
}
.intro{

    color: white;
    background-color: gray;
    border-radius: 10px 10px;
}
header{
    color:white;
    background-color: gray;
    border-radius: 10px 10px;
}

.mybutton{
    color: white;
}

.mybutton:hover{
    color:white;
    background-color: black;
    border-color: black;
}

footer{
    color: white;
    background-color: gray;
    border-radius: 10px 10px;
}

.contact{
    background-color: gray;
    border-radius: 10px 10px;
}

.text-justify {
    text-align: justify;
    text-indent:16px;
  }

p{
    font-size: 1rem;
  }

  .section{
    background-color: white;
  }